@model EventoTec.web.Models.entities.Client

@{
    ViewData["Title"] = "Details";
    Layout = "CLients";
}

<h2>Detalles Clientes</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-info m-1">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
