@{
    ViewData["Title"] = "Informacion";
}

<div class="item active">
    <img src="https://conceptodefinicion.de/wp-content/uploads/2011/10/Informaci%C3%B3n.jpg"  class="img-responsive" width="500" height="500" />

</div>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
